<div class="row">
    <div class="col-md-12">

        <h2>Dashboard</h2>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Total Clientes</th>
                    <th scope="col">Total Fotos</th>
                    <th scope="col">Total Ordenes</th>
                    <th scope="col">Total Administradores</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">
                        <%=dashboard.cliente%>
                    </td>
                    <td scope="row">
                        <%=dashboard.foto%>
                    </td>
                    <td scope="row">
                        <%=dashboard.orden%>
                    </td>
                    <td scope="row">
                        <%=dashboard.admin%>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>